/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ar-cards-renderer
/ar-marshal.c
/ar-marshal.h
/libaisleriot.la
/org.gnome.Patience.WindowState.gschema.valid
/org.gnome.Patience.WindowState.gschema.xml
/so_locations
/stamp-ar-marshal.c
/stamp-ar-marshal.h
/tags
