/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/accordion.go
/agnes.go
/api.go
/athena.go
/auld-lang-syne.go
/aunt-mary.go
/backbone.go
/bakers-dozen.go
/bakers-game.go
/bear-river.go
/beleaguered-castle.go
/block-ten.go
/bristol.go
/camelot.go
/canfield.go
/carpet.go
/chessboard.go
/clock.go
/cover.go
/cruel.go
/diamond-mine.go
/doublets.go
/eagle-wing.go
/easthaven.go
/eight-off.go
/elevator.go
/eliminator.go
/escalator.go
/first-law.go
/fortress.go
/fortunes.go
/forty-thieves.go
/fourteen.go
/freecell.go
/gaps.go
/gay-gordons.go
/giant.go
/glenwood.go
/gold-mine.go
/golf.go
/gypsy.go
/helsinki.go
/hopscotch.go
/isabel.go
/jamestown.go
/jumbo.go
/kansas.go
/king-albert.go
/kings-audience.go
/klondike.go
/labyrinth.go
/lady-jane.go
/maze.go
/monte-carlo.go
/napoleons-tomb.go
/neighbor.go
/odessa.go
/osmosis.go
/peek.go
/pileon.go
/plait.go
/poker.go
/quatorze.go
/royal-east.go
/saratoga.go
/scorpion.go
/scuffle.go
/seahaven.go
/sir-tommy.go
/so_locations
/spider-three-decks.go
/spider.go
/spiderette.go
/straight-up.go
/streets-and-alleys.go
/tags
/ten-across.go
/terrace.go
/thieves.go
/thirteen.go
/thumb-and-pouch.go
/treize.go
/triple-peaks.go
/union-square.go
/valentine.go
/westhaven.go
/whitehead.go
/will-o-the-wisp.go
/yield.go
/yukon.go
/zebra.go
