/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/anglo.svgz
/anglo_bitmap.svgz
/bellot.svgz
/bonded.svgz
/dondorf.svgz
/gnomangelo.svgz
/gnomangelo_bitmap.svgz
/guyenne-classic.svgz
/ornamental.svgz
/paris.svgz
/so_locations
/swiss-xvii.svgz
/tags
/tango.svgz
